/*Sets*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 html {
    scroll-behavior: smooth;
  }



/*Header Start*/
header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    position: sticky;
    background-color: #d8d8d8;
    padding-left: 20px;
    padding-right: 40px;
    opacity: 1;
    z-index: 3;
}

.topRight {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    text-align: right;
    font-size: 23px;
    z-index: 10;
    color: black;

}
.whatsappUlasim{
position: relative;
right: 30px;

}

.withWhatsapp{
position: relative;
right: 15px;

}

/*Icons*/
.fa-brands.fa-whatsapp.fa-3x{
    position: absolute;
    font-size: 35px;
    right: 172px;
    bottom: -4.3px;
    z-index: 4;
    cursor: none;
    pointer-events: none;
    user-select: none;
    }
/*Icons End*/

.telNo{
color: black(255, 0, 0);
font-size: 25px;
position: relative;
left: 20px;
}

.telNo:hover{
transition: 1.2s;
color: red;
cursor: pointer;
}


.logo1 {
    width: 90px !important;
    height: auto !important;
}

.logo1:hover {
    cursor: pointer;
    width: 95px !important;
    height: auto !important;
}

.flex {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
    font-size: 19px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    position: static;
    transform: scale(1.15);
    color: red;
    transition: .5s;
}

/*Header End*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*Main Start*/

.ana {
    opacity: 1;
    margin-bottom: 0;
}

.bG {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    min-height: 2000px;
}

.bG::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    z-index: 0;
}

.bG>* {
    position: relative;
    z-index: 1;
}

p {
    color: black;
    font-size: xx-large;
    margin-right: 400px;
    padding-right: 20px;
    padding-left: 5px;
}

.box1:hover,.box2:hover,.box3:hover,.box4:hover,.box5:hover,.box6:hover,.box7:hover,.box8:hover{
    animation: moveBox 1.2s ease-in-out infinite;
}

@keyframes moveBox {
    0% {
        transform: translate(0, 2px);
    }

    20% {
        transform: translate(0, -4px);
    }

    40% {
        transform: translate(0, 2px);
    }

    60% {
        transform: translate(0, -4px);
    }

    80% {
        transform: translate(0, 2px);
    }

    90% {
        transform: translate(0, -4px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.box1 {
    display: flex;
    position: absolute;
    background-color: red;
    background-image: url(./ph/anaSayfaBG.jpg);
    background-size: cover;
    height: 400px;
    width: 300px;
    right: 0;
    top: 140px;
    margin-right: 5px;
}

.box2 {
    display: flex;
    position: absolute;
    background-color: red;
    background-image: url(./ph/anaSayfaBG.jpg);
    background-size: cover;
    height: 400px;
    width: 300px;
    right: 0;
    top: 560px;
    margin-right: 5px;
}

.box3 {
    display: flex;
    position: absolute;
    background-color: red;
    background-image: url(./ph/anaSayfaBG.jpg);
    background-size: cover;
    height: 400px;
    width: 300px;
    right: 0;
    top: 980px;
    margin-right: 5px;
}

.box4 {
    display: flex;
    position: absolute;
    background-color: red;
    background-image: url(./ph/anaSayfaBG.jpg);
    background-size: cover;
    height: 400px;
    width: 300px;
    right: 0;
    top: 1400px;
    margin-right: 5px;
}


.box5 {
    display: flex;
    position: absolute;
    background-color: red;
    background-image: url(./ph/anaSayfaBG.jpg);
    background-size: cover;
    height: 400px;
    width: 300px;
    right: 320px;
    top: 980px;
    margin-right: 5px;
}

.box6 {
    display: flex;
    position: absolute;
    background-color: red;
    background-image: url(./ph/anaSayfaBG.jpg);
    background-size: cover;
    height: 400px;
    width: 300px;
    right: 320px;
    top: 1400px;
    margin-right: 5px;
}

.box7 {
    display: flex;
    position: absolute;
    background-color: red;
    background-image: url(./ph/anaSayfaBG.jpg);
    background-size: cover;
    height: 400px;
    width: 300px;
    right: 320px;
    top: 140px;
    margin-right: 5px;
}

.box8 {
    display: flex;
    position: absolute;
    background-color: red;
    background-image: url(./ph/anaSayfaBG.jpg);
    background-size: cover;
    height: 400px;
    width: 300px;
    right: 320px;
    top: 560px;
    margin-right: 5px;
}

/*Main End*/
/*Footer Start*/
.footerdiv {
background-color: #d8d8d8;
min-height: 160px;
font-size: 20px;
display: flex;
justify-content: space-between;
align-items: flex-end; /* yazıları en alta çeker */
padding: 10px 5px;
position: relative;


.logo1{
    display: flex;
    float:right;
}

.footerDes{
    text-align: left;
    
}

.telNoFooter{
color: black(255, 0, 0);
font-size: 20px;
}
    
.telNoFooter:hover{
transition: 1.2s;
color: red;
cursor: pointer;
}
/*Footer End*/